@import "@/styles/variables";

.home {
  font-family: var(--font-migra);

  display: grid;
  position: relative;
  grid-template-columns: 1fr;

  &__title-container {
    grid-row: 1;
    grid-column: 1;
    padding: 16px;
  }

  &__title {
    font-size: 3.5em;
    line-height: 0.85;
    color: var(--accent-9);
    width: 100%;
    max-width: 1500px;

    @media (min-width: $sm) {
      font-size: 3.5em;
    }

    @media (min-width: $md) {
      font-size: 7em;
      max-width: 85%;
    }
  }

  &__caption {
    font-family: var(--font-arimo);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;

    &--right {
      display: block;
      transform: rotate(-180deg);
      margin-right: 16px;
    }
  }

  &__circular-text {
    position: absolute;
    right: 15%;
    top: 30%;
    z-index: -1;
    opacity: 0.5;
  }
}
