@import "@/styles/variables";
@import "@/styles/typed";

$string: "A Fugaz oferece consultoria gastronômica para experiências memoráveis com sabores de alta classe.";
$string2: "Tenha mais eficiência e qualidade em seu estabelecimento com uma consultoria assertiva e de alta qualidade.";
$string3: "Com metodologia ágil e profissionais altamente qualificados, a Fugaz é a melhor opção para seu negócio.";
$speeds: (
  type: 0.1,
);

.home {
  font-family: var(--font-arimo);

  position: relative;
  display: grid;
  gap: 16px;
  margin-top: 5vh;

  &__hero {
    color: var(--accent-9);
    display: block;
    padding: 16px;
    width: 60%;
    margin: 0 auto;

    height: 30vh;

    @media (min-width: $md) {
      height: 25vh;
    }

    @include typed(
      $string,
      $string2,
      $string3,
      (
        type: 0.06,
        delete: 0.03,
        pause-deleted: 0.1,
      ),
      (
        iterations: 1,
      )
    );
  }

  &__hero-after {
    color: var(--accent-9);
    width: 100%;
  }

  &__hero-heading {
    font-weight: var(--font-weight-bold);
    font-size: 12em;
    padding: 0;
    margin: 0;
    line-height: 0.45;

    @media (min-width: $sm) {
      font-size: 20em;
    }

    @media (min-width: $md) {
      font-size: 25em;
    }
  }

  &__hero-image {
    position: absolute;
    right: 20%;
    top: 30%;
    transform: scale(0.5);

    @media (min-width: $md) {
      transform: scale(1.2);
    }
  }

  &__hero-paragraph {
    font-size: 4.5em;
    font-weight: var(--font-weight-light);
    font-style: italic;
    display: inline-block;
    text-align: right;
    padding: 0;
    margin: 0;
  }

  &__hero-image-container {
    z-index: -1;
    background-color: var(--orange-10);

    height: 50vh;
  }
}
