@import "@/styles/variables";

.section1 {
  background-color: var(--grass-12);

  &--green {
    background-color: var(--orange-10);
  }

  &__clip {
    mask-image: url("/clip-path.svg");
    mask-size: 140% 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    width: 100%;
  }

  &__photo {
    width: 100%;
    height: auto;
  }

  &__intersect-line {
  }

  &__article-info {
  }

  &__logo-container {
  }
}
