.article-info {
  color: var(--accent-2);

  max-width: 400px;

  &__title-container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__title {
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-bold);
  }

  &__star {
    filter: contrast(2);
    transform: scale(1);
    z-index: -1;
  } 

  &__text {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-medium);
  }
}
