.article-info {
  color: var(--accent-10);

  max-width: 400px;

  &__title-container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__title {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-bold);
  }

  &__text {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-medium);
  }
}
