@import "@/styles/variables";

.photo-scroller {
  display: flex;
  overflow: hidden;
  width: 100%;
  animation: slide 15s linear infinite;
  gap: 16px;
  
  &:hover {
    animation-play-state: paused;
  }

  &__photo {
    width: clamp(150px, 20vw, 300px);
    height: clamp(150px, 20vw, 300px);
    object-fit: cover;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0); /* The image width */
  }
}
