.photo-scroller {
  position: relative;
  width: 100vw;
  height: calc(100vh - 200px);
  padding-top: 2em;
  overflow: hidden;

  &__photo {
    width: inherit;
    height: inherit;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--orange-2);

    box-shadow: 30px -10px 0 0 var(--orange-9), 45px -45px 0 -2px var(--orange-2),
      60px -60px 0 -2px var(--orange-2), 90px -90px 0 0 var(--accent-9);

    img {
      width: 90%;
      height: 90%;
      object-fit: cover;
    }
  }

  &__photo-primary {
    animation: primary 20s linear infinite;
  }

  &__photo-secondary {
    animation: secondary 20s linear infinite;
  }
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
